#vsPlayVideo *{font-family:"Helvetica Neue",Helvetica,"PingFang SC","Hiragino Sans GB","Microsoft YaHei","微软雅黑",Arial,sans-serif;-webkit-text-size-adjust:100%;box-sizing: content-box;line-height: 1;}
#vsPlayVideo a{text-decoration:none;color:#000;}
#vsPlayVideo a:link{text-decoration:none;}
#vsPlayVideo a:visited{text-decoration:none;}
#vsPlayVideo a:hover{text-decoration:none;}
#vsPlayVideo a:active{text-decoration:none;}
#vsPlayVideo em{font-style:normal}
#vsPlayVideo ul{font-size: 0px;}
#vsPlayVideo li{list-style:none;font-size: 12px;}
#vsPlayVideo img{border:0;vertical-align:middle}
#vsPlayVideo img{max-width:100%;max-height:100%;display: block;}
#vsPlayVideo table{border-collapse:collapse;border-spacing:0}
#vsPlayVideo p{word-wrap:break-word}
#vsPlayVideo ::selection{background:#c1e4ff;}
#vsPlayVideo *:focus{outline:none;}
#vsPlayVideo body{font-size:100%;color: #000;}
#vsPlayVideo .clear:after,.clear:before{content:"";display:table;}
#vsPlayVideo .clear:after{clear:both;}
#vsPlayVideo .right{float:right;}
#vsPlayVideo .left{float:left;}
#vsPlayVideo .icon {width: 16px; height: 16px;vertical-align: -0.15em;fill: currentColor;overflow: hidden;}
#vsPlayVideo {
    display: flex;
    display: -webkit-flex;
    flex-direction: column;
    -webkit-box-shadow: 0 0 8px #e2e2e2;
    box-shadow: 0 0 8px #e2e2e2;
    overflow: hidden;
    position: relative;
}
#vsPlayVideo video{
    cursor: pointer;
    width: 100%;
    height: 0px;
    flex-grow: 1;
    background-color: #333;
}
#vsPlayVideo .vsPlayVideo-menu{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-flex: 0;
    -ms-flex: none;
    flex: none;
    position: relative;
    background-color: #fff;
    z-index: 68;
    width: 100%;
    height: 28px;
    border-bottom: 1px solid #e2e2e2;
    border-top: 1px solid #e2e2e2;
    zoom: 1;
    position: relative;
    color: #99a2aa;
    flex-shrink: 0;
}

#vsPlayVideo .vsPlayVideo-menu-hover:hover{
    background-color: #e2e2e2;
}

#vsPlayVideo .vsPlayVideo-menu-play{
    width: 40px;
    height: 28px;
    line-height: 32px;
    cursor: pointer;
}
#vsPlayVideo .vsPlayVideo-menu-play svg{
    top: 6px;
    position: absolute;
    left: 12px;
}
#vsPlayVideo .vsPlayVideo-play{
    visibility: visible;
    position: absolute;
    left: 0px;
    width: 40px;
    height: 28px;
}
#vsPlayVideo .vsPlayVideo-pause{
    visibility: hidden;
    position: absolute;
    left: 0px;
    width: 40px;
    height: 28px;
}
#vsPlayVideo .vsPlayVideo-menu-bar{
    flex-grow: 1;
    height: 28px;
    line-height: 28px;
}
#vsPlayVideo .vsPlayVideo-menu-time{
    width: 100px;
    height: 28px;
    line-height: 28px;
    text-align: center;
}
#vsPlayVideo .vsPlayVideo-menu-volume{
    width: 30px;
    height: 28px;
    line-height: 32px;
    text-align: center;
    cursor: pointer;
    position: relative;
}
#vsPlayVideo .vsPlayVideo-menu-volume #vsPlayVideo-volume-icon{
    height: 28px;
    line-height: 32px;
}
#vsPlayVideo .vsPlayVideo-menu-volume:hover .vsPlayVideo-volume-bar{
    visibility: visible;
}
#vsPlayVideo .vsPlayVideo-volume-bar{
    visibility: hidden;
    position: absolute;
    width: 28px;
    height: 80px;
    background-color: white;
    top: -82px;
    border: 1px solid #e2e2e2;
    border-radius: 2px;
}
#vsPlayVideo .vsPlayVideo-volume-bar span{
    display: block;
    margin-top: 5px;
    width: 100%;
    text-align: center;
}
#vsPlayVideo .vsPlayVideo-volume-percent{
    width: 6px;
    height: 55px;
    background-color: #EBEBF2;
    border-radius: 3px;
    position: absolute;
    left: 11px;
    bottom: 4px;
}
#vsPlayVideo .vsPlayVideo-volume-line{
    width: 6px;
    height: 100%;
    background-color: #03a9f4;
    border-radius: 3px;
    position: absolute;
    left: 0;
    bottom: 0;
}
#vsPlayVideo .vsPlayVideo-menu-speed{
    width: 30px;
    height: 28px;
    line-height: 32px;
    text-align: center;
    cursor: pointer;
    position: relative;
}
#vsPlayVideo .vsPlayVideo-menu-speed:hover .vsPlayVideo-speed-menu{
    visibility: visible;
}
#vsPlayVideo .vsPlayVideo-menu-speed .vsPlayVideo-speed-menu{
    visibility: hidden;
    position: absolute;
    width: 40px;
    height: 132px;
    background-color: white;
    top: -134px;
    border: 1px solid #e2e2e2;
    border-radius: 2px;
    left: -5px;
}
#vsPlayVideo .vsPlayVideo-menu-speed .vsPlayVideo-speed-menu ul li{
    height: 22px;
    line-height: 22px;
}
#vsPlayVideo .vsPlayVideo-menu-speed .vsPlayVideo-speed-menu ul li:hover{
    background-color: #e2e2e2;
}
#vsPlayVideo .vsPlayVideo-menu-Full{
    width: 30px;
    height: 28px;
    line-height: 32px;
    text-align: center;
    cursor: pointer;
}

#vsPlayVideo .vsPlayVideo-percent {
    height: 6px;
    background-color: #EBEBF2;
    position: absolute;
    top: 40%;
    cursor: pointer;
    overflow: hidden;
    position: relative;
    border-radius: 3px;
    margin: 0 5px;
}

#vsPlayVideo .vsPlayVideo-percent .vsPlayVideo-line-loading {
    width: 0;
    height: 100%;
    background-color: #D3D3E0;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 1;
    transition: 0.7s;
    -webkit-transition: 0.7s;
    -moz-transition: 0.7s;
    transform: translateZ(0);
    -webkit-transform: translateZ(0);
    -moz-transform: translateZ(0);
    -ms-transform: translateZ(0);
}

#vsPlayVideo .vsPlayVideo-percent .vsPlayVideo-line {
    width: 0;
    height: 100%;
    background-color: #03a9f4;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 2;
}

#vsPlayVideo .vsPlayVideo-pendant-play{
    width: 60px;
    height: 40px;
    position: absolute;
    bottom: 45px;
    right: 15px;
    cursor: pointer;
}